@import url('https://fonts.googleapis.com/css?family=Patrick+Hand+SC&display=swap');

$font_main: 'Josefin Sans', sans-serif;
$font_regular: 'Tajawal', sans-serif;
$font_written:  'Patrick Hand SC', cursive;;